/* "auto" makes the left and right margins center the wrapper */
#body_wrap { 
	width: 940px; 
	margin: 0 auto; 
}

#content_div {
	width: 940px;
	float: left;
}

#footer_div {
	clear: both;
}

div.autocomplete {
  position:absolute;
  width:250px;
  background-color:white;
  border:1px solid #888;
  margin:0;
  padding:0;
}
div.autocomplete ul {
  list-style-type:none;
  margin:0;
  padding:0;
}
div.autocomplete ul li.selected { background-color: #aaeeff;}
div.autocomplete ul li {
  list-style-type:none;
  display:block;
  margin:0;
  padding:2px;
  height:32px;
  cursor:pointer;
}